<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>

    <div class="container" , style="text-align : center">

        {% include 'navbar.html' %}
        <!-- {% include 'navbar_alt.html' %} -->

        <h1>Welcome to IMG Recruitment Portal</h1>

        <!-- <form action="/home/" method="POST">
            {% csrf_token %}
            <input type="radio" value="True" name="check">
            <button>send</button>
        </form> -->

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto reiciendis fugiat suscipit harum vitae laudantium quia eaque saepe a soluta! Debitis maiores alias atque consectetur incidunt ullam numquam, qui corporis voluptas cumque at, hic reru
            mveniam ut quo dolor perspiciatis ipsa. Explicabo ipsum molestias ut dolorum fugiat deserunt beatae exercitationem.</p>


        <!-- <button>Contact Us</button> -->


    </div>

</body>

</html>