<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>

    <div class="container" , style="text-align : center">

        {% include 'navbar.html' %}
        <!-- {% include 'navbar_alt.html' %} -->

        <h1>Welcome to IMG Recruitment Portal</h1>

        <!-- <form action="/home/" method="POST">
            {% csrf_token %}
            <input type="radio" value="True" name="check">
            <button>send</button>
        </form> -->

        <p>We are looking for passionate developers and designers :)</p>

        <p></p>
        <a href="https://iitr.ac.in/Campus%20Life/Student%20Groups/Information%20Management%20Group.html"><button>Get to know us better...</button></a>


        <!-- <button>Contact Us</button> -->


    </div>

</body>

</html>