<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>

    {% include 'navbar_alt.html' %}
    <!-- {% include 'navbar.html' %} -->

    <h1 class="text-center my-3">Sign Up to IMG Recruitment Website</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">

                        <form action="/backend/add_user/" method="POST">
                            {% csrf_token %}


                            <div class=" mb-3 ">
                                <label for="name ">Name</label>
                                <input id="name " type=" text " class="form-control " placeholder="enter name " name="mem_name"></div>

                            <div class=" mb-3 ">
                                <label for="enum ">EnrolllmentNumber</label>
                                <input id="enum " type=" text " class="form-control " placeholder="enter emrollmentnumber " name="mem_enum"></div>

                            <div class=" mb-3 ">
                                <label for="mail ">Email</label>
                                <input id="mail " type=" text " class="form-control " placeholder="enter EmailID " name="mem_email"></div>

                            <div class="mb-3 ">
                                <label for="pn ">Phonenumber</label>
                                <input id="pn " type=" text " class="form-control " placeholder="enter phone number " name="mem_phone"></div>


                            <div class="mb-3 ">
                                <label for="role ">Role</label>
                                <select id="role " class="form-control " value=" " name="mem_role">
                                <option value="Developer ">Developer</option>
                                <option value="Designer ">Designer</option>
                            </select>
                            </div>


                            <div class="mb-3 ">
                                <label for="Year ">Year</label>
                                <select id="Year " class="form-control " value=" " name="mem_year">
                                <option value="2 ">2nd</option>
                                <option value="3 ">3rd</option>
                                <option value="4 ">4th</option>
                            </select>
                            </div>


                            <div class="mb-3 ">
                                <label for="department ">Departments</label>
                                <select id="department " class="form-control " value="CSE " name="mem_dept">
                                <option value="CSE ">Computer Science</option>
                                <option value="ME ">Mechanical</option>
                                <option value="EE ">Electrical</option>
                                <option value="Math ">Maths</option>
                                <option value="Eco ">Economics</option>
                                <option value="Meta ">Metallurgy</option>
                                <option value="Chem ">Chemical</option>
                                <option value="BioTech ">Biotech</option>
                                <option value="ECE ">ECE</option>
                            </select>

                            </div>

                            <div class="mb-3 ">
                                <label for="eid ">Username</label>
                                <input id="eid " type=" text " class="form-control " placeholder="enter username " name="mem_username"></div>

                            <div class="mb-3 ">
                                <label for="eid ">Password</label>
                                <input id="eid " type=" text " class="form-control " placeholder="enter password " name="mem_pw"></div>

                            <!-- <div class="mb-3 ">
                                <label for="eid ">Confirm Password</label>
                                <input id="eid " type=" text " class="form-control " placeholder="confirm password " name="mem_cpw"></div> -->


                            <div class="container text-center ">
                                <button class="btn btn-primary ">Register User</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4 " crossorigin="anonymous "></script>



</body>

</html>